<section class="text-center">
    <div class="form-signin w-50 m-auto p-5 mat-elevation-z5">
        <form [formGroup]="signInForm" class="example-form" (ngSubmit)="signIn()">
            <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                <mat-error *ngIf="email!.hasError('email') && !email!.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="email!.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <input matInput type="password" formControlName="password" placeholder="Strong Password">
                <mat-error *ngIf="password!.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <section class="example-section">
                <mat-checkbox class="example-margin" formControlName="remember"value=" remember">Remeber Me</mat-checkbox>
            </section>

            <button mat-raised-button color="primary" type="submit">Sign In</button>
            <p class="pt-2">
                <span>New to our platform? <a routerLink="/sign-up">Sign Up!</a></span>
            </p>            
            <hr>
            <button mat-raised-button color="accent" (click)="googleLogin()">Google Sign In</button>
        </form>          
    </div>
</section>