<!-- <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">KShopings</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shopping-cart">Shopping-cart</a>
                </li>
                <ng-template #anonymousUser>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/sign-in">Sign In</a>
                    </li>
                </ng-template>
                <li *ngIf="appUser; else anonymousUser" ngbDropdown class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{(appUser.name)? appUser.name: "username"}}
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">My Orders</a></li>
                        <ng-container *ngIf="appUser.isAdmin">
                            <li><a class="dropdown-item" href="#">Manage Orders</a></li>
                            <li><a class="dropdown-item" href="#">Mange Products</a></li>
                        </ng-container>
                        <li id="logout"><a class="dropdown-item" (click)="logout()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->




<!-- 
<mat-toolbar class="fixed-header" color="secondary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>

    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">KShopings</a>

                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/shopping-cart">                            
                            <div 
                                matBadge="{{cart.totalItemsCount }}"
                                matBadgeOverlap="false" 
                                class="demo-section" 
                                matBadgeColor="accent"
                                *ngIf="cart$ | async as cart"
                                >Shopping-cart
                            </div>
                        </a>
                    </li>
                    <ng-template #anonymousUser>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/sign-in">Sign In</a>
                        </li>
                    </ng-template>
                    <li *ngIf="appUser; else anonymousUser" ngbDropdown class="nav-item dropdown">
                        <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            {{(appUser.name)? appUser.name: "username"}}
                        </a>
                        <ul ngbDropdownMenu class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="my/orders">My Orders</a></li>
                            <ng-container *ngIf="appUser.isAdmin">
                                <li><a class="dropdown-item" routerLink="admin/orders">Manage Orders</a></li>
                                <li><a class="dropdown-item" routerLink="admin/products">Mange Products</a></li>
                            </ng-container>
                            <li id="logout"><a class="dropdown-item" (click)="logout()">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </nav>

    <!-- right --
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
 </mat-toolbar> -->



<mat-toolbar class="fixed-header" color="primary" style="padding: 0 55px;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="material-nav-link" routerLink="/">
        <mat-icon class="logo-icon">spa</mat-icon>        
        <span class="nav-logo-icon">KShopings</span>
    </a>
    <a class="material-nav-link nav-cart-icon" routerLink="shopping-cart">
        <span>
            <div 
                matBadge="{{cart.totalItemsCount }}"
                matBadgeOverlap="false" 
                class="demo-section" 
                matBadgeColor="accent"
                *ngIf="cart$ | async as cart"
                >
                <mat-icon>shopping_cart</mat-icon>
            </div>
        </span>
    </a>
    
    <span class="example-spacer"></span>

    <span class="material-nav-link" *ngIf="appUser; else anonymousUser" [matMenuTriggerFor]="menu" class="material-nav-link">
        <mat-icon>person</mat-icon>
        {{(appUser.name)? appUser.name: "username"}}         
        <mat-icon class="menu-icon">expand_more</mat-icon>
    </span>
    <mat-menu id="nav-menu" #menu="matMenu">
        <a routerLink="my/orders">
            <button mat-menu-item>My Orders</button>
        </a>
        <ng-container *ngIf="appUser.isAdmin">
            <a routerLink="admin/orders">
                <button mat-menu-item>Manage Orders</button>
            </a>
            <a routerLink="admin/products">
                <button mat-menu-item>Manage Products</button>
            </a>
        </ng-container>
        <button mat-menu-item (click)="logout()">Log Out</button>
    </mat-menu>
    <ng-template #anonymousUser class="material-nav-link">
        <a routerLink="/sign-in">Sign In</a>
    </ng-template>
</mat-toolbar>


















<!-- <mat-toolbar class="fixed-header" color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="material-nav-link" routerLink="/">
        <span>KShopings</span>
    </a>
    <a class="material-nav-link" routerLink="shopping-cart">
        <span>
            <div 
                matBadge="{{cart.totalItemsCount }}"
                matBadgeOverlap="false" 
                class="demo-section" 
                matBadgeColor="accent"
                *ngIf="cart$ | async as cart"
                >Shopping-cart
            </div>
        </span>
    </a>

    <span class="material-nav-link" *ngIf="appUser; else anonymousUser" [matMenuTriggerFor]="menu" class="material-nav-link">
        {{(appUser.name)? appUser.name: "username"}} 
        <mat-icon class="menu-icon">expand_more</mat-icon>
    </span>
    <mat-menu id="nav-menu" #menu="matMenu">
        <a routerLink="my/orders">
            <button mat-menu-item>My Orders</button>
        </a>
        <ng-container *ngIf="appUser.isAdmin">
            <a routerLink="dmin/orders">
                <button mat-menu-item>Manage Orders</button>
            </a>
            <a routerLink="admin/products">
                <button mat-menu-item>Manage Products</button>
            </a>
        </ng-container>
        <button mat-menu-item (click)="logout()">Log Out</button>
    </mat-menu>
    <ng-template #anonymousUser>
        <a class="material-nav-link" routerLink="/sign-in">
            <span class="material-nav-link">Sign In</span>
        </a>
    </ng-template>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon material-nav-link" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon material-nav-link" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar> -->