
<mat-toolbar class="fixed-header" color="primary" style="padding: 0 55px;">
    <a class="material-nav-link" routerLink="/">
        <mat-icon class="logo-icon">spa</mat-icon>        
        <span class="nav-logo-icon">KShopings</span>
    </a>
    <a class="material-nav-link nav-cart-icon" routerLink="shopping-cart">
        <span>
            <div 
                matBadge="{{cart.totalItemsCount }}"
                matBadgeOverlap="false" 
                class="demo-section" 
                matBadgeColor="accent"
                *ngIf="cart$ | async as cart"
                >
                <mat-icon>shopping_cart</mat-icon>
            </div>
        </span>
    </a>
    
    <span class="example-spacer"></span>

    <span class="material-nav-link" *ngIf="appUser; else anonymousUser" [matMenuTriggerFor]="menu" class="material-nav-link">
        <mat-icon>person</mat-icon>
        {{(appUser.name)? appUser.name: "username"}}         
        <mat-icon class="menu-icon">expand_more</mat-icon>
    </span>
    <mat-menu id="nav-menu" #menu="matMenu">
        <a routerLink="my/orders">
            <button mat-menu-item>My Orders</button>
        </a>
        <ng-container *ngIf="appUser.isAdmin">
            <a routerLink="admin/orders">
                <button mat-menu-item>Manage Orders</button>
            </a>
            <a routerLink="admin/products">
                <button mat-menu-item>Manage Products</button>
            </a>
        </ng-container>
        <button mat-menu-item (click)="logout()">Log Out</button>
    </mat-menu>
    <ng-template #anonymousUser class="material-nav-link">
        <a routerLink="/sign-in">Sign In</a>
    </ng-template>
</mat-toolbar>